body {
    background-color: #A0A087;
}

.border {
    border: 2px solid #A06D1C;
    border-radius: 20px;
    padding: 15px;
}

.navbar {
    margin-bottom: 50px;
}

table {
    background-color: #ebebeb;
}

.radius {
    border-radius: 10px;
}

.center {
    margin: 0 auto;
}

p {
    font-size: 18px;
}
